.app {
  padding: 30px;
  display: inline-block;
  background-color: #6d8a6a;
  margin: 20px;
  border: 5px solid black;
}
.app:hover {
  background-color: #769173;
}

.app > div {
  margin-right: 50px;
}
.app button {
  margin-top: 15px;
}