.app {
  padding: 30px;
  display: inline-block;
  background-color: #6d6470;
  margin: 20px;
  border: 5px solid black;
}
.app:hover {
  background-color: #7c7380;
}

.app > div {
  margin-right: 50px;
}
.app button {
  margin-top: 20px;
  margin-left: 3px;
}

